body {
    font-size: 16px;
    line-height: 26px;
    color: $default;
    @extend %quicksand-500;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    font-size: 48px;
    line-height: 65px;
    @extend %roboto-700;
    color: $title;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}
.text{
    max-width: 570px;
    text-align: center;
    margin: 0 auto;
}

/*-----------------top-breadcrumbs-------------*/
.top {
    &__container {
        max-width: 1700px;
        background-repeat: no-repeat;
        background-position: top center;
        padding: 130px 0 140px;
        text-align: center;
    }

    &__title {
        margin-bottom: 28px;
    }
}

.breadcrumbs {
    display: inline-flex;
    padding-left: 24px;
    position: relative;
    justify-content: center;

    &::before {
        content: '';
        background-image: url(../images/icons/home.svg);
        position: absolute;
        top: 4px;
        left: 0;
        width: 16px;
        height: 16px;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        color: #727272;
        padding-right: 38px;
        position: relative;

        &:last-child {
            color: $accent;
            padding-right: 0;
        }

        &::after {
            content: '';
            background-image: url(../images/icons/angle_right.svg);
            position: absolute;
            top: 10px;
            right: 13px;
            width: 9px;
            height: 10px;
        }

        &:last-child::after {
            display: none;
        }
    }

    &__link {
        color: inherit;
    }
}


/*---------------header-grey-----------*/

.header-404-page{
    background-color: $bg;
}