@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
    padding: 40px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__list-item+.menu__list-item {
        padding-left: 35px;
    }

    &__list-link {
        color: $title;
        @extend %quicksand-400;
        padding: 0 2px 1px;
        transition: all .3s;

        &:hover {
            color: $accent;
            border-bottom: 1px solid $accent;
            @extend %quicksand-500;
        }
    }

    &__list-link--active {
        color: $accent;
        border-bottom: 1px solid $accent;
        @extend %quicksand-500;
    }
}

.user-nav {
    display: flex;

    &__link+.user-nav__link {
        padding-left: 25px;
    }

    &__link {
        position: relative;
    }

    &__num {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent;
        color: #fff;
        top: -10px;
        right: -13px;
        text-align: center;
        line-height: 20px;
    }
}



.main {
    flex-grow: 1;
}

/*---------------login------------*/
.modal {
    max-width: 570px;
    padding: 120px 0;
    margin: 0 auto;

    &__links {
        text-align: center;
        margin-bottom: 56px;
    }

    &__link {
        text-transform: uppercase;
        color: #909090;
        @extend %roboto-400;
        font-size: 22px;
        margin: 0 30px;
    }

    &__link--active {
        color: $accent;
    }

    &__label {
        display: block;
        margin-bottom: 38px;

        &:last-of-type {
            margin-bottom: 20px;
        }

    }

    &__input {
        margin-top: 12px;
        display: block;
        width: 100%;
        background-color: $bg;
        border: none;
        height: 56px;
        padding: 0 15px;
    }

    &__submit {
        display: block;
        width: 100%;
        background-color: $title;
        padding: 20px;
        border: none;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 28px;
    }

    &__forgot {
        color: $accent;
    }
}

/*---------------page-404------------*/

.page-404 {
    padding: 118px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        @extend %roboto-700;
        font-size: 48px;
        color: #28384f;
        margin-bottom: 40px;
    }

    &__text {
        margin-bottom: 57px;
        max-width: 460px;
        width: 100%;
    }

    &__link {
        @extend %btn;
        padding: 16px 30px;
    }
}









.footer {
    flex-shrink: 0;
    background-color: $bg;

    &__logo {
        display: block;
        margin-bottom: 38px;
    }
}

.footer-top {
    padding: 70px 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;

    &__contact {
        width: 250px;
        margin-right: 35px;
    }

    &__nav {
        width: 170px;
        margin-right: 15px;
    }

    &__item-form {
        max-width: 470px;
    }

    &__item+.footer-top__item {
        padding-left: 15px;
    }

    &__address,
    &__mail,
    &__phone {
        display: block;
        margin-bottom: 20px;
    }

    &__social-list {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    &__social-link {
        transition: all .3s;

        path {
            fill: $default;
        }

        &:hover {
            path {
                fill: $accent;
            }
        }
    }

    &__social-item+.footer-top__social-item {
        padding-left: 20px;
    }

    &__title {
        @extend %roboto-400;
        font-size: 26px;
        line-height: 1;
        color: #29282d;
        margin-bottom: 40px;
    }

    &__link {
        display: block;
    }

    &__list-item+.footer-top__list-item {
        padding-top: 20px;
    }

    &__text {
        margin-bottom: 33px;
    }

    &__form {
        display: flex;
    }

    &__input {
        padding: 12px 10px 12px 15px;
        border: none;
        max-width: 320px;
        width: 100%;
        background-color: #fff;

        &::placeholder {
            color: $default;
            font-size: 16px;
        }

        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
        margin-right: 10px;
    }

    &__btn {
        padding: 12px 26px;
        background-color: $accent;
        color: #fff;
        text-transform: uppercase;
        line-height: 36px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    }
}




.footer-bottom {
    padding: 27px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

    &__accept {
        display: flex;
    }

    &__img {
        padding-left: 25px;
    }
}


/*----------------slider------------------*/

.slider {
    padding-top: 65px;
    padding-bottom: 45px;
    background-color: $bg;
    background-image: url(../images/slider/slider-bg.png);
    background-repeat: no-repeat;

    &__container {
        max-width: 1520px;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
        padding-left: 145px;
    }

    &__title {
        padding-top: 197px;
        @extend %roboto-700;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        margin-bottom: 35px;
        max-width: 670px;
    }

    &__text {
        margin-bottom: 55px;
        max-width: 470px;
    }

    &__btn {
        @extend %btn;
        padding: 14px 36px;
        display: inline-block;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: -70px;

        li {
            padding: 0 5px;

            button {
                border: none;
                padding: 0;
                background-color: transparent;
                font-size: 0;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: 1px solid transparent;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $default;
                }
            }

            &.slick-active {
                button {
                    border-color: $accent;

                    &::before {
                        background-color: $accent
                    }
                }

            }
        }
    }
}

/*-------------------categories-info-------------------------*/

.categories-info {
    padding: 120px 0;
    background-image: url(../images/categories/categories-left-bg.png);
    background-repeat: no-repeat;
    background-position: center left;

    &__wrapper {
        background-image: url(../images/categories/categories-right-bg.png);
        background-repeat: no-repeat;
        background-position: center right;
    }
}

.info {
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-bottom: 84px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/categories/info-before.svg);
            width: 120px;
            height: 121px;
            top: -40px;
            left: -43px;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/categories/info-after.svg);
            width: 65px;
            height: 52px;
            bottom: -24px;
            right: -24px;
            z-index: -1;
        }
    }

    &__item {
        padding: 57px 40px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
        background-color: #fff;

        &-title {
            padding-top: 35px;
            color: $title;
            font-size: 22px;
            line-height: 26px;
            @extend %roboto-400;
            margin-bottom: 15px;
        }
    }
}


.categories {
    &__title {
        margin-bottom: 22px;
    }

    &__text {
        margin-bottom: 56px;
    }

    &__inner {
        display: grid;
        grid-gap: 30px;
        min-height: 670px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    &__item {
        padding: 34px 0 0 40px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;

        &:nth-child(1) {
            grid-row: span 2;

            .categories__item-subtitle {
                color: #5800e4;
            }

            .categories__link:hover {
                color: #5800e4;
                border-bottom: 1px solid #5800e4;
            }
        }

        &:nth-child(2) {
            grid-column: span 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0;

            .categories__item-subtitle {
                color: $accent;
            }

            .categories__link {
                display: block;
                max-width: 116px;
            }

            .categories__link:hover {
                color: $accent;
                border-bottom: 1px solid $accent
            }
        }

        &:nth-child(3) {
            .categories__item-subtitle {
                color: #ffb534;
            }

            .categories__link:hover {
                color: #ffb534;
                border-bottom: 1px solid #ffb534;
            }
        }

        &:nth-child(4) {
            .categories__item-subtitle {
                color: #34c3ff;
            }

            .categories__link:hover {
                color: #34c3ff;
                border-bottom: 1px solid #34c3ff;
            }
        }
    }

    &__item-subtitle {
        margin-bottom: 8px;
    }

    &__item-title {
        font-size: 22px;
        line-height: 26px;
        color: $title;
        @extend %roboto-500;
        margin-bottom: 16px;
    }

    &__link {
        color: $title;
        text-transform: uppercase;
        @extend %roboto-400;
        padding-bottom: 2px;
        transition: all .3s;
    }

}

/*-------------------video-fashion-------------*/

.video-fashion {
    background-color: $bg;
    background-image: url(../images/video-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 122px 0;

    &__inner {
        display: flex;
    }

    &__video {

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 465px;
        max-width: 536px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
    }

    &__img {
        text-align: center;
    }

    &__content {
        max-width: 572px;
        padding: 78px 0;
    }

    &__subtitle {
        font-size: 22px;
        line-height: 26px;
        color: $accent;
        @extend %quicksand-500;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__title {
        text-align: left;
        margin-bottom: 40px;
    }

    &__text {
        margin-bottom: 52px;
        text-align: left;
    }

    &__link {
        @extend %btn;
    }
}



/*----------------------products-----------------*/


.product {
    padding: 110px 0 118px;
    text-align: center;

    &__text {
        margin-bottom: 58px;
    }

    &__link {
        @extend %roboto-400;
        color: $title;
        padding: 18px 28px;
        border: 1px solid $accent;
        display: inline-block;
        text-transform: uppercase;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px 30px;
        margin-bottom: 60px;
    }
}

// .product__items {
//     margin-bottom: 60px;
// }

.product-item {
    max-width: 370px;

    &.product-item--list {
        min-width: 100%;
        display: flex;
        border: 1px solid $bg;

        .product-item__img-box {
            min-width: 200px;
            height: 250px;
            margin-bottom: 0;

            img {
                height: 250px;
            }
        }

        .product-item__wrapper-box {
            padding: 24px 40px;
        }

        .product-item__text-content {
            display: flex;
            flex-wrap: wrap;
        }

        .product-item__title {
            order: -1;
            width: 100%;
            text-align: left;
            padding: 0;
            margin-bottom: 10px;
        }

        .product-item__price {
            order: -1;
        }

        .product-item__stars {
            margin-left: 23px;
        }

        .product-item__link-box {
            background-color: transparent;
            width: 115px;
            border-radius: 0;
            box-shadow: none;
        }

        .product-item__link {
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .product-item__link-line {
            display: none;
        }

        .product-item__content-box {
            display: block;
        }

        .order1 {
            order: 1;
        }

        .order2 {
            order: 2;
        }

        .product-item__text {
            margin-bottom: 20px;
            max-width: 490px;
        }

        .product-item__btn {
            @extend %btn;
            text-transform: none;
            padding: 16px 40px;
            background-color: $title;
            box-shadow: none;
            transition: all .3s;
        }

        .product-item__btn:hover {
            background-color: $accent;
            box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
        }
    }

    &__img-box {
        height: 370px;
        position: relative;
        margin-bottom: 28px;
        overflow: hidden;
    }

    &__link-box {
        position: absolute;
        width: 220px;
        height: 50px;
        background-color: #fff;
        box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
        border-radius: 25px;
        bottom: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: inline-block;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transform: translateY(300%);
        transition: all .3s;
    }

    &__img {
        object-fit: cover;
    }

    &__link {
        path {
            transition: all .3s;
        }
    }

    &__link:hover {
        path {
            fill: $accent;
        }
    }

    &__link-line::before,
    &__link-line::after {
        content: '';
        position: absolute;
        height: 30px;
        width: 1px;
        background-color: #ececec;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__link-line::before {
        left: 70px;
    }

    &__link-line::after {
        right: 70px;
    }

    &__title {
        @extend %roboto-400;
        font-size: 22px;
        color: $title;
        margin-bottom: 15px;
        text-align: center;
    }

    &__price {
        display: flex;
        justify-content: center;
    }

    &__new-price {
        @extend %roboto-500;
        color: $title;
        margin-right: 22px;

    }

    &__old-price {
        @extend %roboto-400;
        color: $default;
        text-decoration: line-through;
    }

    &:hover {
        .product-item__link-box {
            transform: translateY(0);
        }
    }

    &--sale {
        .product-item__img-box::before {
            content: "SALE";
            position: absolute;
            top: 25px;
            left: 25px;
            text-transform: uppercase;
            @extend %btn;
            padding: 8px 10px;
            line-height: 1;
        }
    }

    &__stars {
        margin: 0 auto;
        margin-bottom: 16px;
    }

    &__content-box {
        display: none;
    }

}

/*------------------deal---------------*/

.deal {
    background-image: url(../images/deal-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 150px 0 160px;
    text-align: center;

    &__content {
        max-width: 572px;
        margin-left: auto;
        width: 100%;
    }

    &__subtitle {
        color: $accent;
        font-size: 22px;
        margin-bottom: 22px;
    }

    &__title {
        margin-bottom: 56px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 58px;
    }

    &__item {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #fff;
        color: $default;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);

        span {
            @extend %roboto-700;
            color: $title;
            font-size: 46px;
            line-height: 1;
        }
    }

    &__link {
        @extend %roboto-400;
        color: $title;
        padding: 18px 28px;
        border: 1px solid $accent;
        display: inline-block;
        text-transform: uppercase;

    }
}

/*-------------partners---------*/

.partners {
    padding: 107px 0;

    &__list {
        height: 173px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/*-------------blog---------*/


.blog {
    background-image: url(../images/blog/blog-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 162px;

    &__text {
        margin-bottom: 56px;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 33px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/blog/blog-decor.svg);
            background-repeat: no-repeat;
            width: 128px;
            height: 55px;
            top: -32px;
            right: -22px;
            z-index: -1;
        }
    }

    &__item {
        max-width: 373px;
        width: 100%;
        border: 1px solid #ececec;

        transition: all .3s;

        &-imglink {
            display: block;

            img {
                height: 288px;
                object-fit: cover;
            }
        }

        &-box {
            padding: 23px 38px;
        }

        &-info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            line-height: 21px;

        }


        &-user {
            position: relative;
            padding-left: 30px;

            &::before {
                content: '';
                background-image: url(../images/icons/user-grey.svg);
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                width: 21px;
                height: 21px;
            }
        }

        &-data {
            position: relative;
            padding-left: 30px;

            &::before {
                content: '';
                background-image: url(../images/icons/clock.svg);
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                width: 21px;
                height: 21px;
            }
        }

        &-title {
            font-size: 22px;
            line-height: 32px;
            color: $title;
            margin-bottom: 20px;
            @extend %roboto-400;

        }

        &-btn {
            transition: all .3s;
            position: relative;

            &::after {
                content: '';
                background-image: url(../images/icons/arrow.svg);
                position: absolute;
                top: 8px;
                right: -14px;
                width: 10px;
                height: 8px;
            }
        }

        &:hover {
            border: none;
            transform: scale(1.05);
            box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);

            .blog__item-btn {
                color: $accent;

                &::after {
                    background-image: url(../images/icons/arrow-accent.svg);
                }
            }
        }
    }
}




/*--------------------shop--------------------*/

.shop {
    padding: 120px 0 116px;

    &__inner {
        display: flex;
    }
}

.filter {
    max-width: 370px;
    width: 100%;
    margin-right: 30px;

    &-item {
        border: 1px solid #ececec;
        padding: 39px 29px;
        margin-bottom: 40px;
    }

    &__title {
        @extend %roboto-400;
        color: $title;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 36px;
    }

    &__search {
        &-form {
            display: flex;
        }

        &-input {
            padding: 15px 5px 15px 15px;
            background-color: $bg;
            height: 50px;
            width: 260px;
            border: none;
        }

        &-input::placeholder {
            color: $default;
            @extend %quicksand-500;
            font-size: 16px;
        }

        &-btn {
            background-color: $accent;
            width: 50px;
            height: 50px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    &__price {
        &-label {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-btn {
            @extend %btn;
            padding: 12px 20px;
            letter-spacing: .2vw;
        }
    }

}

.irs--flat .irs-handle {
    top: -15px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
    cursor: pointer;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
    background-color: transparent;
}

.irs--flat .irs-bar {
    top: 0;
    background-color: $accent;
    height: 5px;
}

.irs--flat .irs-line {
    top: 0;
    height: 5px;
    background-color: #ececec;
    border-radius: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max,
.irs--flat .irs-to,
.irs--flat .irs-from {
    display: none;
}

.filter-color {
    &__label {
        padding-bottom: 20px;
        border-bottom: 1px solid #ececec;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;

        &+.filter-color__label {
            margin-top: 20px;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }

    &__text {
        line-height: 1;
    }

    &__input {
        @extend %checkbox-hidden;

        &:checked+.filter-color__checkbox {
            background-image: url(../images/icons/check.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }

    &__checkbox {
        display: block;
        width: 16px;
        height: 16px;
        position: relative;
        margin-left: -16px;
    }

    &__checkbox--blue {
        background-color: #00aeef;
    }

    &__checkbox--red {
        background-color: #f52574;
    }

    &__checkbox--green {
        background-color: #24d4ac;
    }

    &__checkbox--orange {
        background-color: #ff7e00;
    }

    &__checkbox--black {
        background-color: #000000;
    }

    &__checkbox--purple {
        background-color: #923899;
    }
}

.filter-size {

    &__box {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        margin-right: 34px;
    }

    &__label {
        cursor: pointer;
    }

    &__input {
        @extend %checkbox-hidden;

        &:checked+.filter-size__checkbox {
            background-image: url(../images/icons/checkmark.svg);
            border: none;

            &+.filter-size__text {
                color: $accent;
            }
        }

    }

    &__checkbox {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $default;
        margin-right: 15px;
    }
}

.filter-category {
    &__checkbox {
        display: flex;
        justify-content: space-between;
        padding: 16px 20px;
        background-color: $bg;
        color: $title;
        margin-bottom: 15px;
        cursor: pointer;
    }

    &__input {
        @extend %checkbox-hidden;

        &:checked+.filter-category__checkbox {
            background-color: $accent;
            color: #fff;
        }
    }
}

.filter-popular {
    &__text {
        margin-right: 16px;
        margin-bottom: 21px;
        display: inline-block;
        border: 1px solid $default;
        color: $default;
        padding: 12px 16px;
        line-height: 28px;
        cursor: pointer;
    }

    &__input {
        @extend %checkbox-hidden;

        &:checked+.filter-popular__text {
            color: #fff;
            background-color: $accent;
        }
    }
}


.shop-content {
    width: 100%;

    &__filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ececec;
        padding: 28px 20px;
        margin-bottom: 40px;
    }

    &__filter-buttons {
        display: flex;
        align-items: center;
    }

    &__filter-btn {
        line-height: 0;
        padding: 0;
        cursor: pointer;
        border: none;
        background-color: transparent;
        margin-left: 14px;
    }

    &__filter-btn.shop-content__filter-btn--active {
        path {
            fill: $accent;
        }
    }

    &__options {
        &-sort {
            border: none;
            color: $default;
            margin-right: 32px;
        }

        &-show {
            border: none;
            color: $default;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #ececec;

        .product-item {
            margin-bottom: 40px;
        }
    }
}

.jq-selectbox__select {
    height: 32px;
    padding: 0 30px 0 0;
    border: none;
    border-radius: 0;
    background: transparent;
    font-size: 16px;
    @extend %quicksand-500;
    color: $default;
    text-shadow: none;
    box-shadow: none;
    width: 100%;
}

.jq-selectbox__trigger {
    border-left: none;
}

.jq-selectbox__trigger-arrow {
    background-image: url(../images/icons/angle-down.svg);
    background-repeat: no-repeat;
    top: 14px;
    right: 12px;
    width: 10px;
    height: 5px;
    border: none;
}


/*--------------details---------------------*/
.details {
    padding: 120px 0 60px;
    border-bottom: 1px solid $bg;

    &__item-inner {
        display: flex;
    }
}

.details-slide {
    width: 730px;
    // height: 650px;
    margin-right: 70px;
    display: flex;

    .slick-vertical .slick-slide {
        height: 140px;
        margin-bottom: 30px;
    }

    &__thumb {
        margin-right: 30px;
        width: 140px;

        &-item {
            margin-bottom: 30px;
            width: 140px;
            height: 140px;
            cursor: pointer;

            img {
                width: 140px;
                height: 140px;
                object-fit: cover;
            }
        }
    }

    &__big {
        width: 560px;

        img {
            width: 560px;
            height: 650px;
            object-fit: cover;
        }
    }

}

.details-item {
    &-content {
        width: 370px;
    }

    &__title {
        @extend %roboto-500;
        color: $title;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__price {
        display: flex;
        font-size: 18px;
        line-height: 34px;

        &-new {
            color: $title;
            margin-right: 15px;
        }

        &-old {
            color: $default;
        }
    }

    &__stars-box {
        display: flex;
    }

    &__text {
        margin-bottom: 20px;
        width: 370px;

        span {
            display: block;
            font-size: 18px;
            color: $title;
            margin-bottom: 6px;
            @extend %roboto-400;
        }
    }

    &__num {
        @extend %quicksand-500;
    }

    &__btn {
        @extend %btn;
        padding: 14px 38px;
        text-transform: none;
    }
}

.details-item__stars-box .product-item__stars {
    margin: 0 8px 0 0;
    align-self: center;
}

.details-filter {
    &__color {
        margin-bottom: 28px;

        &-title {
            display: flex;
            margin-bottom: 6px;

            span {
                display: block;
                font-size: 18px;
                color: $title;
                margin-bottom: 6px;
                @extend %roboto-400;
            }
        }

        &-label {
            margin-right: 10px;
            cursor: pointer;

        }

        &-input {
            @extend %radio-hidden;
            transition: all .3s;

            &:checked {
                &+.details-filter__color-radio {
                    border-color: $accent;
                }
            }
        }

        &-radio {
            width: 24px;
            height: 24px;
            border: 1px solid $default;
            display: inline-block;
            position: relative;

            span {
                position: absolute;
                width: 16px;
                height: 16px;
                top: 3px;
                left: 3px;
            }
        }
    }

    &__size {
        margin-bottom: 28px;

        &-title {
            display: flex;
            margin-bottom: 6px;

            span {
                display: block;
                font-size: 18px;
                color: $title;
                margin-bottom: 6px;
                @extend %roboto-400;
            }
        }

        &-label {
            margin-right: 10px;
            cursor: pointer;
        }

        &-input {
            @extend %radio-hidden;
            transition: all .3s;

            &:checked {
                &+.details-filter__size-radio {
                    border-color: $accent;
                    color: $accent;
                }
            }
        }

        &-radio {
            width: 40px;
            height: 40px;
            border: 1px solid $default;
            display: inline-block;
            text-align: center;
            line-height: 38px;
        }
    }
}

.details-info {
    margin-bottom: 26px;

    &__item {
        display: flex;
    }

    &__title {
        color: $title;
        @extend %quicksand-500;
        width: 100px;
    }

    &__text-link {
        transition: all .3s;

        &:hover {
            color: $accent;
        }
    }

    &__link {
        margin-right: 14px;
        display: inline-block;

        svg {
            fill: $default;
            transition: all .3s;

            &:hover {
                fill: $accent;
            }
        }
    }
}

.jq-number__field {
    width: 100px;
    border: 1px solid $default;
    border-bottom-color: none;
    border-radius: 0;
    box-shadow: none;
}

.jq-number__field input {
    width: 100%;
    padding: 19px 10px 18px 10px;
    @extend %quicksand-500;
    color: $title;
    text-align: center;
    outline: none;
}

.jq-number__spin {
    position: absolute;
    right: 0;
    width: 13px;
    height: 13px;
    border: none;
    border-bottom-color: none;
    border-radius: 0;
    background: transparent;
    box-shadow: unset;
    text-shadow: unset;
    top: 50%;
    transform: translateY(-50%);
}

.jq-number {
    padding: 0;
    margin-right: 15px;
}

.jq-number__spin.minus {
    top: 50%;
    left: 15px;
}

.jq-number__spin.plus {
    right: 15px;
}

.jq-number__spin::after {
    content: '';
    position: absolute;
    border: none;
    width: 13px;
    height: 1px;
    top: 6px;
    left: 0;
    background-color: $title;
}

.jq-number__spin.minus:after {
    top: 6px;
    border: none;
}

.jq-number__spin.plus::before {
    content: '';
    position: absolute;
    border: none;
    width: 1px;
    height: 13px;
    top: 0px;
    left: 6px;
    background-color: $title;
}

.jq-number__field:hover {
    border-color: $default;
}

.jq-number__spin:hover {
    background: none;
}

.jq-number__spin:active {
    background: transparent;
    box-shadow: unset;
}

/*---------------details-tabs-------------------*/
.details-tabs {
    padding-top: 114px;

    &__top {
        border-bottom: 1px solid $bg;

        &-item {
            display: inline-block;
            padding-bottom: 10px;
            font-size: 22px;
            line-height: 28px;
            color: $default;

            &+.details-tabs__top-item {
                margin-left: 60px;
            }

        }
    }

    &__content {
        &-item {
            display: none;
        }

        .details-tabs__content-item.details-tabs__content-item--active {
            display: block;
        }
    }

    &__item {
        padding-top: 36px;
        display: flex;
        justify-content: space-between;
    }

    &__item-content {
        max-width: 1080px;
        left: auto;
    }

    &__item-img {
        width: 70px;
        margin-right: 30px;

        img {
            min-width: 70px;
            height: 70px;
            overflow: hidden;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__item-top {
        display: flex;
        margin-bottom: 12px;
    }

    &__item-name {
        @extend %roboto-400;
        color: $title;
        margin-right: 16px;
        line-height: 28px;
    }

    &__item-date {
        padding-left: 16px;
    }

    &__item-text {
        // width: 1080px;
        margin-bottom: 12px;
    }

    &__item-reply {
        padding-left: 25px;
        position: relative;

        &::before {
            content: '';
            background-image: url(../images/icons/arrow-reply.svg);
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
            position: absolute;
            top: 4px;
            left: 0;
        }
    }
}

.details-item__stars {
    margin-left: auto;
}

.details-tabs__top-item.details-tabs__top-item--active {
    color: $accent;
    border-bottom: 1px solid $accent;
}

.comment {
    padding-top: 60px;

    &__title {
        padding-bottom: 10px;
        @extend %roboto-400;
        font-size: 22px;
        line-height: 28px;
        color: $title;
        margin-bottom: 36px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 52px;
            height: 1px;
            background-color: $accent;
        }
    }

    &-form {
        margin-bottom: 26px;

        span {
            display: inline-block;
            color: $title;
            margin-right: 56px;
        }

        &__input {
            @extend %radio-hidden;

            &:checked+.comment-form__radio {
                path {
                    fill: #ffc35b;
                }
            }
        }

        &__radio {
            cursor: pointer;

            path {
                fill: $default;
            }
        }

        &__textbox {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            &-input {
                display: inline-block;
                width: 100%;
                height: 50px;
                border: 1px solid #efefef;
                padding: 16px 10px 16px 18px;
                & + .comment-form__textbox-input{
                    margin-left: 30px;
                }
            }
        }

        &__textarea {
            display: block;
            padding: 16px 10px 16px 18px;
            width: 100%;
            height: 222px;
            margin-bottom: 40px;
            border: 1px solid #efefef;
            resize: none;
        }

        &__btn {
            @extend %btn;
            padding: 16px 36px;
            margin-bottom: 56px;
        }
    }

}

.related {
    padding-top: 50px;

    &__title {
        margin-bottom: 60px;
        @extend %roboto-700;
    }

    &__inner {
        margin-bottom: 120px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;

        .product-item__img-box {
            height: auto;
        }

        .product-item__stars,
        .product-item__title {
            margin-bottom: 10px;
        }
    }

    .product-item--sale .product-item__img-box::before {
        font-size: 14px;
    }
}

.blog-one {
    padding: 116px 0 56px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__items {
        margin-right: 32px;
        width: 770px;
    }

    &__aside {
        width: 370px;
    }

    &__item {
        margin-bottom: 60px;
    }
    &__item-video{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 450px;
        max-width: 770px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__box {
        padding: 48px 37px 37px 37px;
        border: 1px solid #ececec;
        border-top: none;
    }

    &__title {
        @extend %roboto-400;
        font-size: 22px;
        line-height: 32px;
        color: $title;
        margin-bottom: 18px;
        transition: all .3s;

        &:hover {
            color: $accent;
        }
    }

    .blog__item-info {
        justify-content: flex-start;
    }

    .blog__item-user {
        margin-right: 30px;
    }

    .blog-one__link-img.hidden {
        display: none;
    }

    .blog-one__link-img.hidden+.blog-one__box {
        border: 1px solid #ececec;
        padding-top: 36px;
        box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
    }
    &__slider{
        position: relative;
        .slick-prev,
        .slick-next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            width: 38px;
            height: 38px;
            background-color: $accent;
            border: none;
            border-radius: 50%;
            path{
                fill: #fff;
            }
        }
        .slick-prev{
            left: 40px;
        }
        .slick-next{
            right: 40px;    
        }
        .slick-disabled{
            background-color: #fff;
            box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);
            path{
                fill: $accent;
            }
        }
    }     
}

.person {
    padding: 38px 32px 36px;
    border: 1px solid #ececec;
    text-align: center;
    margin-bottom: 40px;

    &__img {
        display: inline-block;
        min-width: 158px;
        height: 158px;
        object-fit: cover;
        margin-bottom: 38px;
    }

    &__title {
        color: $title;
        font-size: 18px;
        @extend %roboto-700;
        margin-bottom: 8px;
    }

    &__job {
        color: $accent;
        margin-bottom: 20px;
        @extend %quicksand-500;
    }

    &__text {
        margin-bottom: 26px;
    }

    &__social-list {
        display: flex;
        justify-content: center;
    }

    &__social-item+.person__social-item {
        margin-left: 10px;
    }

    &__social-link {
        transition: all .3s;

        path {
            fill: $default;
        }

        &:hover {
            path {
                fill: $accent;
            }
        }
    }

}

.post{
    padding: 38px 32px 36px;
    margin-bottom: 40px;
    border: 1px solid #ececec;
    &__title{
        font-size: 22px;
        color: $title;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    &__item{
        padding: 18px 0;
        display: flex;
        &-img{
            min-width: 80px;
            height: 80px;
            object-fit: cover;
            margin-right: 16px;
        }
        &-title{
            @extend %roboto-400;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 5px;
            color: $title;
            &:hover{
                color: $accent;
            }
        }
        &-date{
            @extend %roboto-400;
            font-size: 16px;
            line-height: 28px;
            color: $default;
            padding-left: 25px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 6px;
                left: 0;
                width: 16px;
                height: 16px;
                background-image: url(../images/icons/calendar.svg);
            }
        }
        & + .post__item{
            border-top: 1px solid #ececec;
        }
       
    }
}


.blog-page__box{
    p{
        margin-bottom: 30px;
    }
    img{
        margin-right: 30px;
        float: left;
    }
    blockquote{
        background-color: $bg;
        @extend %roboto-400;
        font-size: 22px;
        line-height: 32px;
        color: $title;
        border-left: 3px solid $accent;
        padding: 40px;
        margin-bottom: 30px;
    }
    h4{
        margin-bottom: 30px;
        color: $title;
        font-size: 22px;
        @extend %roboto-400;
    }
}
.blog-page{
    &__info{
        display: flex;
        align-items: center;
        margin-bottom: 26px;
    }
    &__item{
        position: relative;
        padding-left: 26px;
        margin-right: 28px;
        &::before{
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: 4px;
            left: 0;
            background-repeat: no-repeat;
        }
        
    }
    &__data::before{
        background-image: url(../images/icons/calendar.svg);
    }
    &__comments::before{
        background-image: url(../images/icons/comment.svg);
    }
    &__user::before{
        background-image: url(../images/icons/red-user.svg);
    }
    &__user{
        display: flex;
        padding: 40px 0;
        border-bottom: 1px solid #ececec;
        &-img{
            margin-right: 30px;
        }
        &-name{
            margin-bottom: 24px;
            @extend %roboto-400;
            font-size: 22px;
            line-height: 26px;
            text-transform: uppercase;
            color: $title;
        }
    }
    &__links{
        display: flex;
        justify-content: space-between;
        & span{
            color: $title;
            text-transform: uppercase;
            margin-right: 8px;
        }
    }
    &.blog-one{
        margin-bottom: 0;
    }
    &__social{
        display: flex;
        line-height: 1;
        &-link +.blog-page__social-link{
            margin-left: 13px;
        }
        &-link{
            path{
                fill: $default;
                transition: all .3s;
            }
            &:hover{
                path{
                    fill: $accent;
                }
            }
        }
    }
    &__tags-link{
        transition: all .3s;
        &:hover{
            color: $accent;
        }
    }

   
}
    .comment__blog-page-title {
        @extend %roboto-700;
        font-size: 24px;
        line-height: 26px;
        color: $title;
        margin-bottom: 22px;
    }
    .details__tabs-items.blog-page__comments{
        padding-bottom: 38px;
        border-bottom: 1px solid #ececec;
    }


@import 'media';