@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
    padding: 40px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__list-item+.menu__list-item {
        padding-left: 35px;
    }

    &__list-link {
        color: $title;
        @extend %quicksand-400;
        padding: 0 2px 1px;
        transition: all .3s;

        &:hover {
            color: $accent;
            border-bottom: 1px solid $accent;
            @extend %quicksand-500;
        }
    }

    &__list-link--active {
        color: $accent;
        border-bottom: 1px solid $accent;
        @extend %quicksand-500;
    }
}

.user-nav {
    display: flex;

    &__link+.user-nav__link {
        padding-left: 25px;
    }

    &__link {
        position: relative;
    }

    &__num {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent;
        color: #fff;
        top: -10px;
        right: -13px;
        text-align: center;
        line-height: 20px;
    }
}



.main {
    flex-grow: 1;
}





.footer {
    flex-shrink: 0;
    background-color: $bg;

    &__logo {
        display: block;
        margin-bottom: 38px;
    }
}

.footer-top {
    padding: 70px 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;

    &__contact {
        width: 250px;
        margin-right: 35px;
    }

    &__nav {
        width: 170px;
        margin-right: 15px;
    }

    &__item-form {
        max-width: 470px;
    }

    &__item+.footer-top__item {
        padding-left: 15px;
    }

    &__address,
    &__mail,
    &__phone {
        display: block;
        margin-bottom: 20px;
    }

    &__social-list {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    &__social-link {
        transition: all .3s;

        path {
            fill: $default;
        }

        &:hover {
            path {
                fill: $accent;
            }
        }
    }

    &__social-item+.footer-top__social-item {
        padding-left: 20px;
    }

    &__title {
        @extend %roboto-400;
        font-size: 26px;
        line-height: 1;
        color: #29282d;
        margin-bottom: 40px;
    }

    &__link {
        display: block;
    }

    &__list-item+.footer-top__list-item {
        padding-top: 20px;
    }

    &__text {
        margin-bottom: 33px;
    }

    &__form {
        display: flex;
    }

    &__input {
        padding: 12px 10px 12px 15px;
        border: none;
        max-width: 320px;
        width: 100%;
        background-color: #fff;

        &::placeholder {
            color: $default;
            font-size: 16px;
        }

        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
        margin-right: 10px;
    }

    &__btn {
        padding: 12px 26px;
        background-color: $accent;
        color: #fff;
        text-transform: uppercase;
        line-height: 36px;
        border: none;
        cursor: pointer;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    }
}




.footer-bottom {
    padding: 27px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

    &__accept {
        display: flex;
    }

    &__img {
        padding-left: 25px;
    }
}


/*----------------slider------------------*/

.slider {
    padding-top: 65px;
    padding-bottom: 45px;
    background-color: $bg;
    background-image: url(../images/slider/slider-bg.png);
    background-repeat: no-repeat;

    &__container {
        max-width: 1520px;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
        padding-left: 145px;
    }

    &__title {
        padding-top: 197px;
        @extend %roboto-700;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        margin-bottom: 35px;
        max-width: 670px;
    }

    &__text {
        margin-bottom: 55px;
        max-width: 470px;
    }

    &__btn {
        @extend %btn;
        padding: 14px 36px;
        display: inline-block;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: -70px;

        li {
            padding: 0 5px;

            button {
                border: none;
                padding: 0;
                background-color: transparent;
                font-size: 0;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: 1px solid transparent;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $default;
                }
            }

            &.slick-active {
                button {
                    border-color: $accent;

                    &::before {
                        background-color: $accent
                    }
                }

            }
        }
    }
}

/*-------------------categories-info-------------------------*/

.categories-info {
    padding: 120px 0;
    background-image: url(../images/categories/categories-left-bg.png);
    background-repeat: no-repeat;
    background-position: center left;
    &__wrapper{
        background-image: url(../images/categories/categories-right-bg.png);
        background-repeat: no-repeat;
        background-position: center right;
    }
}

.info {
    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-bottom: 84px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-image: url(../images/categories/info-before.svg);
            width: 120px;
            height: 121px;
            top: -40px;
            left: -43px;
            z-index: -1;
        }
        &::after{
            content: "";
            position: absolute;
            background-image: url(../images/categories/info-after.svg);
            width: 65px;
            height: 52px;
            bottom: -24px;
            right: -24px;
            z-index: -1;
        }
    }

    &__item {
        padding: 57px 40px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
        background-color: #fff; 
        &-title {
            padding-top: 35px;
            color: $title;
            font-size: 22px;
            line-height: 26px;
            @extend %roboto-400;
            margin-bottom: 15px;
        }
    }
}


.categories {
    &__title {
        margin-bottom: 22px;
    }

    &__text {
        margin-bottom: 56px;
    }

    &__inner {
        display: grid;
        grid-gap: 30px;
        min-height: 670px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    &__item {
        padding: 34px 0 0 40px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;

        &:nth-child(1) {
            grid-row: span 2;

            .categories__item-subtitle {
                color: #5800e4;
            }

            .categories__link:hover {
                color: #5800e4;
                border-bottom: 1px solid #5800e4;
            }
        }

        &:nth-child(2) {
            grid-column: span 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0;
            .categories__item-subtitle {
                color: $accent;
            }
            .categories__link{
                display: block;
                max-width: 116px;
            }
            .categories__link:hover {
                color: $accent;
                border-bottom: 1px solid $accent
            }
        }

        &:nth-child(3) {
            .categories__item-subtitle {
                color: #ffb534;
            }

            .categories__link:hover {
                color: #ffb534;
                border-bottom: 1px solid #ffb534;
            }
        }

        &:nth-child(4) {
            .categories__item-subtitle {
                color: #34c3ff;
            }

            .categories__link:hover {
                color: #34c3ff;
                border-bottom: 1px solid #34c3ff;
            }
        }
    }

    &__item-subtitle {
        margin-bottom: 8px;
    }

    &__item-title {
        font-size: 22px;
        line-height: 26px;
        color: $title;
        @extend %roboto-500;
        margin-bottom: 16px;
    }

    &__link {
        color: $title;
        text-transform: uppercase;
        @extend %roboto-400;
        padding-bottom: 2px;
        transition: all .3s;
    }

}

/*-------------------video-fashion-------------*/

.video-fashion{
    background-color: $bg;
    background-image: url(../images/video-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 122px 0;
    &__inner{
        display: flex;
    }
    &__video{
        
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 465px;
        max-width: 536px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
    }
    &__img{
        text-align: center;
    }
    &__content{
        max-width: 572px;
        padding: 78px 0;
    }
    &__subtitle{
        font-size: 22px;
        line-height: 26px;
        color: $accent;
        @extend %quicksand-500;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &__title{
        text-align: left;
        margin-bottom: 40px;
    }
    &__text{
        margin-bottom: 52px;
        text-align: left;
    }
    &__link{
        @extend %btn;
    }
}





















@import 'media';